[submodule "perl"]
	path = perl
	url = https://github.com/bmajoros/perl.git
[submodule "BOOM"]
	path = BOOM
	url = https://github.com/bmajoros/BOOM.git
[submodule "python"]
	path = python
	url = https://github.com/bmajoros/python.git
