donor-consensus             = GT,AT,GC
acceptor-consensus          = AG,AC
start-codons                = ATG
stop-codons                 = TGA,TAG,TAA
max-splice-shift            = 70
min-exon-length             = 30
min-intron-length           = 30
allow-exon-skipping         = true
allow-cryptic-sites         = true
allow-intron-retention      = false
start-codon-model           = start-codons-12bp.model
short-start-codon-model     = start-codons-3bp.model
stop-codon-model            = stop-codons-3bp.model
donor-model                 = donors51-57.model    
acceptor-model              = acceptors51-57.model
gap-open-penalty            = 5
gap-extend-penalty          = 10
subst-matrix                = pam10
bandwidth                   = 50

twoBitToFa                  = /usr/local/bin/twoBitToFa
tabix                       = /usr/local/bin/tabix
genome                      = /data/reddylab/Reference_Data/hg19.2bit
chr-lengths                 = /data/reddylab/Reference_Data/hg19.genome
gender                      = /home/bmajoros/1000G/vcf/gender.txt
individuals                 = /home/bmajoros/1000G/assembly/fasta/Geuvadis.txt
vcf                         = /home/bmajoros/1000G/vcf
ploidy                      = 2
margin-around-gene          = 1000
min-orf-length		    = 150

