min-path-score          = 0.0
max-alt-structures	= 10
exon-model		    = exons.model
intron-model		    = introns.model
donor-model                 = donors.model    
acceptor-model              = acceptors.model
allow-exon-skipping         = true
allow-cryptic-sites         = true
allow-denovo-sites	    = true
allow-intron-retention      = false

max-intron-retention-length  = 500
min-intron-retention-LLR     = 0
min-exon-definition-score    = 0
exon-strengthening-threshold = 2
exon-weakening-threshold     = 0.5

donor-consensus             = GT,AT,GC
acceptor-consensus          = AG,AC
start-codons                = ATG
stop-codons                 = TGA,TAG,TAA
max-splice-shift            = 150
min-exon-length             = 30
min-intron-length           = 30

start-codon-model           = start-codons-12bp.model
short-start-codon-model     = start-codons-3bp.model
stop-codon-model            = stop-codons-3bp.model
intergenic-model	    = intergenic0-43.binmod
gap-open-penalty            = 5
gap-extend-penalty          = 10
subst-matrix                = pam10
bandwidth                   = 50

twoBitToFa                  = twoBitToFa
tabix                       = tabix
genome                      = /path/to/hg19.2bit
chr-lengths                 = /path/to/hg19.lengths
gender                      = /path/to/gender.txt
individuals		    = /path/to/gender.txt
vcf                         = /path/to/vcf
vcf-lacks-chr               = true
ploidy                      = 2
margin-around-gene          = 1000
min-orf-length		    = 150


